<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu-style.css}">
    <link rel="stylesheet" th:href="@{/css/formularios.css}">
</head>

<body>
    <header>
        <!-- NAV1 -->
        <nav th:replace="fragments :: navbar"></nav>
        <!-- /NAV1 -->

        <!-- NAV2 -->
        <nav th:replace="fragments :: navbar2"></nav>
        <!-- /NAV2 -->
    </header>

    <!-- MAIN -->
    <main class="pt-5 px-4 personal-main2">
        <h1 th:text="${title}" class="ms-2 mb-5"></h1>
        <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
        <!-- FORM -->
        <form th:action="@{/cliente/__${action}__}" method="POST" th:object="${cliente}" class="ms-4">
            <input type="hidden" th:field="*{id}" />
            <!-- NAME -->
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label item-label2">Nombre</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{nombre}">
                </div>
            </div>
            <!-- MAIL -->
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label item-label2">Mail</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" th:field="*{mail}">
                </div>
            </div>
            <!-- PHONE -->
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label item-label2">Telefono</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" th:field="*{telefono}">
                </div>
            </div>
            <!-- <div th:unless="${cliente.fechaAlta != null}"> -->
            <!-- DATE-ALTA -->
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label item-label2">Fecha de Alta</label>
                <div class="col-sm-8">
                    <input th:field="*{fechaAlta}" type="datetime" class="form-control" id="inputPassword3"
                        readonly="readonly">
                </div>
            </div>
            <!-- DATE-BAJA -->
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label item-label2">Fecha de Baja</label>
                <div class="col-sm-8">
                    <input th:field="*{fechaBaja}" type="datetime" class="form-control" id="inputPassword3"
                        readonly="readonly">
                </div>
            </div>
            <!-- </div> -->
            <div class="position-registrar d-flex justify-content-end">
                <button th:text="${action == 'guardar'} ? 'Crear cliente' : 'Guardar cambios'" type="submit"
                    class="btn col-sm-2 personal-button"></button>
            </div>
        </form>
    </main>

    <script src="https://kit.fontawesome.com/b3ecb498a1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>

</html>